<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Training</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<style>
    li {
        margin: 20px;
    }
</style>

<body>
    <div id="app">
        <span v-bind:title="masatitle">Check Masa (Letak Mouse Dekat Saya)</span>
        <ul>
            <li v-for="insan in insans">
                {{ insan.nama }} - {{ insan.kuantiti }}
                <span v-if="insan.kuantiti === 0">(TIADA STOCK)</span>
                <button v-on:click="insan.kuantiti++">TAMBAH PRODUK {{ insan.nama }}</button>
            </li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>
</html>