<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>VueJS Training</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h2>{{ kira }}</h2>
        <button v-on:click="berhenti_kira"><span v-if="this.intervalKiraStatus">Berhenti mengira</span><span v-else>Sambung Kira</span></button><br>
        <span v-bind:title="masatitle">Check Masa (Letak Mouse Dekat Saya)</span>
        <ul>
            <li v-for="insan in insans">
                {{ insan.nama }} - {{ insan.kuantiti }}
                <span v-if="insan.kuantiti === 0">(TIADA STOCK)</span>
                <span v-else><button v-on:click="insan.kuantiti--">{{ insan.nama }}-</button></span>
                <button v-on:click="insan.kuantiti++">{{ insan.nama }}+</button>
            </li>
        </ul>
        <br><br>
        <h3>Data dari <a href="https://jsonplaceholder.typicode.com/">jsonplaceholder</a></h3>
        <ol>
            <li v-for="post in posting">
                {{ post.title }} - <b>User ID : {{ post.userId }}</b>
            </li>
        </ol>
        <div class="box">
            <p>{{ ayat_terbalik }}</p>
            <button v-on:click="terbalikkan">Terbalikkan Ayat</button>
            <br><br>
            <h2>{{ nilai_borang }}</h2>
            <p>{{ borang }}</p>
            <input type="text" v-model="borang">
            <button v-bind:class="tukar_kelas" v-on:click="hantar_borang">Update</button>
        </div>
        <ol>
            <todo-item v-for="grocery in groceries" v-bind:jumlah="grocery.duit" v-bind:todo="grocery" v-bind:key="grocery.id"></todo-item>
        </ol>
        <br>
        <p>{{ namabaru }}</p>
        <input type="text" v-on:keyup.enter="tambahnama" v-model="namabaru">
        <br>
        <p v-if="this.insan_nama !== null">Hurmm...</p>
        <p v-else>Tulis jenama kasut yang baru</p>
        <br>
        <input type="text" v-on:keyup.enter="kemaskini_insan" v-on:keyup="checkInsanNama" v-model="insan_nama">
        <br><br>
        {{ teruskedepan ? 'Nak cikit' : 'taknak ah majok' }}
    </div>
    <script src="index.js"></script>
</body>
</html>